<div class="seducee-part">
  <h1 class="question-title"><%= @story.title %></h1>
  <h3 class="chance-number">Situation <%= @question.number %> of <%= @story.questions.count %></h3>
  <p class="seducee-intro">Mike just arrived in town for a conference and is waiting at the baggage pickup area for my bag but it never arrives...</p>
  <%= image_tag("mike", class: "seducee-image") %>
  <p class=seducee-phrase><%= @question.seducee_phrase %></p>
</div>
<div class="seducer-part">
  <p class="seducer-intro"><%= @question.seducer_introduction %></p>
  <p class="seducer-info"><em>Choose one of the two answers</em></p>
  <p class="seducer-answer-A"><%= link_to @question.seducer_answer_A, go_to_url(@question.seducer_answer_A) %></p>
  <p class="seducer-answer-B"><%= link_to @question.seducer_answer_B, go_to_url(@question.seducer_answer_B) %></p>
  <%= image_tag("alice", class: "seducer-image") %>
</div>
  <!-- <div><%= @question.correct_answer %></div> -->
