<!-- CSS -->
<!-- https://bootsnipp.com/snippets/exR5v -->
<!-- METHODS -->
<% def to_letter(answer) %>
  <% if answer == @question.seducer_answer_A %>
    <% "A" %>
  <% elsif answer == @question.seducer_answer_B %>
    <% "B" %>
  <% end %>
<% end %>

<% def go_to_url(answer) %>
  <% if to_letter(answer) == @question.correct_answer %>
    <% if @question.number < 3 %>
      <% "/stories/#{@story.id}/questions/#{@question.id + 1}" %>
    <% else %>
      <% "/stories/#{@story.id}/win" %>
    <% end %>
  <% else %>
    <% "/stories/#{@story.id}/gameover" %>
  <% end %>
<% end %>

<!-- CONTENT -->
<div class="card card-story" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(@story.photo) %>)">
  <h1><%= @story.title %></h1>
  <p><%= @story.description %></p>
  <a href="/stories/<%= @story.id %>/questions/<%= @story.questions[0].id %>"></a>
</div>

<div id="question">
  <h3>Question <%= @question.number %> of <%= @story.questions.count %></h3>

  <ul class="flex-container">
    <li class="flex-item intro"><em><%= @question.seducee_introduction %></em></li>
    <li class="flex-item bg-seducee"><%= @question.seducee_phrase %></li>
  </ul>
  <ul class="flex-container position-right">
    <li class="flex-item intro text-right"><em><%= @question.seducer_introduction %></em></li>
    <li class="flex-item bg-seducer"><%= link_to @question.seducer_answer_A, go_to_url(@question.seducer_answer_A) %></li>
    <li class="flex-item bg-seducer"><%= link_to @question.seducer_answer_B, go_to_url(@question.seducer_answer_B) %></li>
  </ul>
  <!-- <div><%= @question.correct_answer %></div> -->
</div>
