<div class="main-container">
  <h1>Les meilleurs séducteurs</h1>

  <% counter = 0 %>
  <% users_sorted = @users.sort_by { |user| -user.ranking } %>

  <% users_sorted.each do |user| %>
    <div class="rankings <%= "ranking-shadow" if current_user == user %>">
      <p><%= counter += 1 %></p>
      <%= image_tag("#{user.avatar}", class: "avatar") %>
      <p><%= user.name %></p>
      <p><%= user.ranking.nil? ? 0 : ( user.ranking * 100 ).round(1) %> %</p>
    </div>

  <% end %>
</div>
