<div class="main-container">
  <h1>Jeux terminés</h1>
  <% if @user.games.empty? %>
    You haven't played a game yet!
  <% end %>
  <% @user.games.each do |game| %>
    <%= link_to (game.chat ? chat_path(game.chat) : "#") do %>
      <%= render "stories/story_card", story: game.story, score: game.score %>

      <!-- <div class="card card-story" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(game.story.photo) %>)">
        <h2><%= game.story.title %></h2>
        <p><%= game.score %> / 3</p>
      </div> -->
    <% end %>
  <% end %>
</div>
