<div class="main-container">
  <h2>Ceux que j'ai séduit ou pas</h2>
  <% if @user.games.empty? %>
    Vous n'avez pas encore participé à un jeu!
  <% end %>
  <% @user.games.each do |game| %>
    <%= link_to (game.chat ? chat_path(game.chat) : "#") do %>
      <%= render "users/game_card", story: game.story, score: game.score %>
    <% end %>
  <% end %>

  <% if !@user.stories.empty? %>
    <hr>
    <h2>Ceux qui m'ont séduit(e)</h2>
    <% @user.stories.each do |story| %>
      <%= render "story_creator_card", story: story %>
      <% story.games.each do |game| %>
        <% if game.chat %>
          <%= link_to (game.chat ? chat_path(game.chat) : "#") do %>
            <%= render "player_card", game: game %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
