<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header">
        <h4><%= @chat.game.story.title  %> </h4>
      </div>
      <div class="messages">
        <% @chat.messages.each do |message|  %>
          <%= render "messages/message", message: message, user_is_messages_author: current_user == @chat.game.user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= render 'messages/form', chat: @chat, message: @message %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    App['chat_<%= @chat.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatsChannel', chat_id: <%= @chat.id %> },
      {
        received: (data) => {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);

        }
      }
    )
  </script>
<% end %>
