<h1 class="home-title">Who would you like to seduce?</h1>

<div class="home-container">
  <div class="alice">
    <%= image_tag("alice") %>
    <p class="seducee-name">Alice</p>
  </div>
  <div class="sarah" style="">
    <%= image_tag("sarah") %>
    <p class="seducee-name">Sarah</p>
  </div>
  <div class="jack">
    <%= image_tag("jack") %>
    <p class="seducee-name">Jack</p>
  </div>
    <div class="mike">
      <%= link_to stories_path do %>
        <%= image_tag("mike") %>
        <p class="seducee-name">Mike</p>
      <% end %>
    </div>
  <div class="emma">
    <%= image_tag("emma") %>
    <p class="seducee-name">Emma</p>
  </div>
  <div class="tom">
    <%= image_tag("tom") %>
    <p class="seducee-name">Tom</p>
  </div>
    <div class="matt">
    <%= image_tag("matt") %>
    <p class="seducee-name">Matt</p>
  </div>
  <div class="elsa">
    <%= image_tag("elsa") %>
    <p class="seducee-name">Elsa</p>
  </div>
</div>
