<h1 class="home-title">Who would you like to seduce?</h1>

<div class="home-container">
  <div class="alice">
    <%= image_tag("alice") %>
    <p class="name">Alice</p>
  </div>
  <div class="sarah" style="">
    <%= image_tag("sarah") %>
    <p class="name">Sarah</p>
  </div>
  <div class="jack">
    <%= image_tag("jack") %>
    <p class="name">Jack</p>
  </div>
  <%= link_to stories_path do %>
    <div class="mike">
      <%= image_tag("mike") %>
      <p class="name">Mike</p>
  </div>
  <% end %>
  <div class="emma">
    <%= image_tag("emma") %>
    <p class="name">Emma</p>
  </div>
  <div class="tom">
    <%= image_tag("tom") %>
    <p class="name">Tom</p>
  </div>
    <div class="matt">
    <%= image_tag("matt") %>
    <p class="name">Matt</p>
  </div>
  <div class="elsa">
    <%= image_tag("elsa") %>
    <p class="name">Elsa</p>
  </div>
</div>
