<h1 class="mt-5 mr-3 ml-3 text-center">Who would you like to seduce?</h1>

<div class="home-container">
  <div>
    <%= image_tag("alice", size: "80x80") %>
    <p class="text-center">Alice</p>
  </div>
  <div>
    <%= image_tag("emma", size: "80x80") %>
    <p class="text-center">Emma</p>
  </div>
  <div>
    <%= image_tag("jack", size: "80x80") %>
    <p class="text-center">Jack</p>
  </div>
  <div>
    <%= image_tag("mike", size: "80x80") %>
    <p class="text-center">Mike</p>
  </div>
  <div>
    <%= image_tag("sarah", size: "80x80") %>
    <p class="text-center">Sarah</p>
  </div>
  <div>
    <%= image_tag("tom", size: "80x80") %>
    <p class="text-center">Tom</p>
  </div>
</div>
