<div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(Story.find(params[:id]).photo) %>);">
  <div class="centered">
    <h1 class="title">Félicitations!</h1>
    <i class="fas fa-heart"></i>
    <i class="fas fa-heart"></i>
    <i class="fas fa-heart"></i>
    <h3 class="message-game-end"> Tu as séduis<br><%= image_tag(@story.user.avatar, class: "avatar-large") %><br><%= @story.user.name %></h3>
    <h4><em><%= @story.games.count - 1 %> personnes<br>l'ont déjà séduit(e)!</em></h4>
    <h4 class="button win"><%= link_to "Lui écrire maintenant", chats_path(@story, @game), method: :post %></h4>
  </div>
</div>
