<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seduce Me | Find someone and have fun</title>
    <meta property="og:title" content="Seduce Me" />
    <meta property="og:description" content="Un jeu de séduction où les participants sont susceptibles de faire des rencontres surprises d'après leurs réponses..." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://seduce-me.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url("seduction.jpg") %>" />
    <%= favicon_link_tag 'favicon.png'%>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="main-container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
